In [1]:
import pandas as pd
import numpy as np

In [2]:
df_movie=pd.read_excel(r'C:\Users\solan\OneDrive\Desktop\Sample\Movie data.xlsx')

In [11]:
df_part=df_movie

In [12]:
df_part.rename(columns={'IMDb Score (1-10)':'IMDb'})

,Title Count,Title,Release Date,Color/B&W,Genre,Language,Country,Rating,Lead Actor,Director Name,Lead Actor FB Likes,Cast FB Likes,Director FB Likes,Movie FB Likes,IMDb,Total Reviews,Duration (min),Gross Revenue,Budget
0,1,Over the Hill to the Poorhouse,1920-09-15,Black and White,Crime,English,USA,Not Rated,Stephen Carr,Harry F. Millarde,2,4,0,0.0,4.8,1,110,3000000.0,100000.0
1,1,Metropolis,1927-01-26,Black and White,Drama,German,Germany,Not Rated,Brigitte Helm,Fritz Lang,136,203,756,12000.0,8.3,260,145,26435.0,6000000.0
2,1,The Broadway Melody,1929-11-11,Black and White,Musical,English,USA,Passed,Anita Page,Harry Beaumont,77,109,4,167.0,6.3,36,100,2808000.0,379000.0
3,1,42nd Street,1933-08-29,Black and White,Comedy,English,USA,Unrated,Ginger Rogers,Lloyd Bacon,610,995,24,439.0,7.7,65,89,2300000.0,439000.0
4,1,Top Hat,1935-04-15,Black and White,Comedy,English,USA,Approved,Ginger Rogers,Mark Sandrich,610,824,10,1000.0,7.8,66,81,3000000.0,609000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720,1,Unfinished Business,2015-02-25,Color,Comedy,English,USA,R,Tom Wilkinson,Ken Scott,1000,1564,31,0.0,5.4,90,91,10214013.0,35000000.0
3721,1,Vacation,2015-08-03,Color,Adventure,English,USA,R,Chris Hemsworth,John Francis Daley,26000,40312,0,28000.0,6.1,204,99,58879132.0,31000000.0
3722,1,Victor Frankenstein,2015-03-08,Color,Drama,English,USA,PG-13,Daniel Radcliffe,Paul McGuigan,11000,12876,118,11000.0,6.0,159,110,5773519.0,40000000.0
3723,1,We Are Your Friends,2015-05-14,Color,Drama,English,UK,R,Vanessa Lengies,Max Joseph,804,3013,31,0.0,6.1,158,96,3590010.0,2000000.0
3724,1,Woman in Gold,2015-02-17,Color,Biography,English,UK,PG-13,Ryan Reynolds,Simon Curtis,16000,17866,64,34000.0,7.3,203,109,33305037.0,11000000.0

In [15]:
#Using the IMDb PivotTable, practice creating views to show:
#1. Budget by Title
#2. Budget and Revenue by Country, Genre, and Title
#3. Revenue by Country, filtered only on Horror films
#4. Revenue by Genre and Rating, filtered only on B&W films produced in the United States

In [13]:
df_p1=df_part[['Title','Budget']]

In [14]:
df_p2=df_part[['Title','Budget','Country','Genre','Gross Revenue']]

In [15]:
df_p2.groupby(['Country','Genre','Title']).mean()

                                                     Budget  Gross Revenue
Country      Genre     Title
Afghanistan  Drama     Osama                        46000.0      1127331.0
Argentina    Crime     Nine Queens                1500000.0      1221261.0
             Drama     The Holy Girl              1400000.0       304124.0
                       The Secret in Their Eyes   2000000.0     20167424.0
Aruba        Action    Knock Off                 35000000.0     10076136.0
...                                                     ...            ...
USA          Sci-Fi    WarGames                         NaN     79568000.0
             Thriller  Locker 13                   300000.0         2468.0
             Western   Pale Rider                 6900000.0     41400000.0
                       The Legend of God's Gun      30000.0       243768.0
West Germany Adventure Das Boot                  14000000.0     11433134.0

[3725 rows x 2 columns]

In [16]:
df_p3=df_part[['Country','Gross Revenue','Genre']]

In [18]:
df_p3[(df_p3.Genre=='Crime')][['Country','Gross Revenue']]

             Country  Gross Revenue
0                USA      3000000.0
13               USA         7927.0
19               USA      9600000.0
24               USA            NaN
46            France        26893.0
...              ...            ...
3614             USA      2557668.0
3617  Czech Republic      1206135.0
3637             USA      3219029.0
3659             USA         3330.0
3697             USA     54116191.0

[252 rows x 2 columns]

In [137]:
df_part.rename(columns={'Color/B&W':'Color'},inplace=True)
df_part

C:\Users\solan\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Title Count,Title,Release Date,Color,Genre,Language,Country,Rating,Lead Actor,Director Name,Lead Actor FB Likes,Cast FB Likes,Director FB Likes,Movie FB Likes,IMDb Score (1-10),Total Reviews,Duration (min),Gross Revenue,Budget
0,1,Over the Hill to the Poorhouse,1920-09-15,Black and White,Crime,English,USA,Not Rated,Stephen Carr,Harry F. Millarde,2,4,0,0.0,4.8,1,110,3000000.0,100000.0
1,1,Metropolis,1927-01-26,Black and White,Drama,German,Germany,Not Rated,Brigitte Helm,Fritz Lang,136,203,756,12000.0,8.3,260,145,26435.0,6000000.0
2,1,The Broadway Melody,1929-11-11,Black and White,Musical,English,USA,Passed,Anita Page,Harry Beaumont,77,109,4,167.0,6.3,36,100,2808000.0,379000.0
3,1,42nd Street,1933-08-29,Black and White,Comedy,English,USA,Unrated,Ginger Rogers,Lloyd Bacon,610,995,24,439.0,7.7,65,89,2300000.0,439000.0
4,1,Top Hat,1935-04-15,Black and White,Comedy,English,USA,Approved,Ginger Rogers,Mark Sandrich,610,824,10,1000.0,7.8,66,81,3000000.0,609000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,Before Sunrise,1995-02-02,Color,Drama,English,USA,R,Hanno PÃ¶schl,Richard Linklater,15,36,0,22000.0,8.1,NaN,105,5400000.0,2500000.0
496,1,Braveheart,1995-02-25,Color,Biography,English,USA,R,Mhairi Calvey,Mel Gibson,906,1976,0,17000.0,8.4,132,178,75600000.0,72000000.0
497,1,Casino,1995-07-27,Color,Biography,English,USA,R,Robert De Niro,Martin Scorsese,22000,24183,17000,11000.0,8.2,133,178,42438300.0,52000000.0
498,1,Casper,1995-07-08,Color,Comedy,English,USA,PG,Eric Idle,Brad Silberling,795,2638,52,0.0,6.0,26,100,100328194.0,50000000.0
499,1,Clueless,1995-11-18,Color,Comedy,English,USA,PG-13,Donald Faison,Amy Heckerling,927,1724,143,0.0,6.8,88,97,56631572.0,12000000.0

In [151]:
df_part[(df_part.Color=='Black and White')& (df_part.Country=='USA')][['Genre','Rating','Gross Revenue']].groupby(["Genre",'Rating']).sum()

                     Gross Revenue
Genre     Rating
Adventure Approved       5000000.0
          PG            68856263.0
          Passed        22202612.0
Biography R            101999886.0
Comedy    Approved       3000000.0
          G               163245.0
          Not Rated     25000000.0
          PG           193758785.0
          PG-13        329691196.0
          R             11516140.0
          Unrated        2300000.0
Crime     Not Rated     12607927.0
          R              4600000.0
Drama     Not Rated     23662438.0
          PG            50800000.0
          R             18272447.0
Fantasy   X             22168359.0
Horror    R             32000000.0
Musical   Passed         2808000.0