In [1]:
import pandas as pd
import numpy as np
df_movie=pd.read_excel(r'C:\Users\solan\OneDrive\Desktop\Sample\Movie data.xlsx')

#1. Show Budget and Gross Revenue by Title, and change the number format to currency, with a dollar sign and no decimal places. What was the budget for "A Passage to India"?													
#2. Remove Budget and Title, and show Gross Revenue by Genre (rows) and Rating (columns). Update the PivotTable options to show "$0" instead of blank values													
#3. Move Rating to the row labels (beneath Genre), change your table layout to Outline View, and Update your column headers from "Rating" to "Film Rating", and from "Sum of Gross Revenue" to "Gross Revenue" (hint: you may need a trailing space)													
#4. Remove Film Rating from the view, so that you're just viewing Gross Revenue by Genre. Turn Grand Totals off, select the Gross Revenue values, format as currency (if they aren't already) and add a Color Scale from Green (high) to Red (low). Which Genre produced the most Gross Revenue?													
#5. Add a second instance of Gross Revenue, and format the new column with Data Bars. Update the number format to make the text invisible, so that only the bars appear. Which Genre produced the second-highest Gross 
Revenue total in the sample?

In [3]:
df_p1=df_movie[['Title','Budget','Gross Revenue']]

In [56]:
pd.options.display.float_format = '${:,.2f}'.format
df_p1.pivot_table(df_p1, index='Title',margins =True, margins_name = 'Grande Total').head(20)

                                    Budget   Gross Revenue
Title
10 Days in a Madhouse       $12,000,000.00      $14,616.00
10 Things I Hate About You  $16,000,000.00  $38,176,108.00
102 Dalmatians              $85,000,000.00  $66,941,559.00
10th & Wolf                  $8,000,000.00      $53,481.00
12 Rounds                   $22,000,000.00  $12,232,937.00
12 Years a Slave            $20,000,000.00  $56,667,870.00
127 Hours                   $18,000,000.00  $18,329,466.00
13 Going on 30              $37,000,000.00  $56,044,241.00
1408                        $25,000,000.00  $71,975,611.00
15 Minutes                  $42,000,000.00  $24,375,436.00
16 Blocks                   $52,000,000.00  $36,883,539.00
17 Again                    $20,000,000.00  $64,149,837.00
1911                        $18,000,000.00     $127,437.00
2 Fast 2 Furious            $76,000,000.00 $127,083,765.00
2 Guns                      $61,000,000.00  $75,573,300.00
20 Dates                        $60,000.00     $536,767.00
20 Feet from Stardom         $1,000,000.00   $4,946,250.00
200 Cigarettes               $6,000,000.00   $6,851,636.00
2001: A Space Odyssey       $12,000,000.00  $56,715,371.00
2012                       $200,000,000.00 $166,112,167.00

In [90]:
df_p2=df_movie[['Genre','Rating','Gross Revenue']]

In [111]:
df_p2.pivot_table(df_p2,index='Genre',columns='Rating',aggfunc={'Gross Revenue':np.sum}).replace(np.nan,'$0')

              Gross Revenue                                                   \
Rating             Approved                 G             GP               M
Genre
Action      $244,967,035.00    $96,090,224.00 $43,800,000.00  $22,800,000.00
Adventure     $7,970,873.00 $5,466,455,165.00             $0              $0
Animation    $84,300,000.00   $727,207,806.00             $0              $0
Biography    $57,750,000.00   $169,412,152.00             $0 $102,308,900.00
Comedy      $105,815,005.00   $628,777,083.00             $0              $0
Crime                    $0                $0             $0              $0
Documentary              $0   $180,682,783.00             $0              $0
Drama        $72,000,000.00   $360,597,043.00             $0              $0
Family                   $0     $2,119,994.00             $0              $0
Fantasy                  $0                $0             $0              $0
Horror                   $0                $0             $0              $0
Musical                  $0                $0             $0              $0
Mystery                  $0                $0             $0              $0
Romance                  $0                $0             $0              $0
Sci-Fi                   $0                $0             $0              $0
Thriller                 $0                $0             $0              $0
Western               $0.00                $0             $0              $0

                                                              \
Rating               NC-17      Not Rated                 PG
Genre
Action                  $0  $9,567,338.00 $10,712,055,793.00
Adventure               $0  $8,719,559.00 $15,430,115,415.00
Animation               $0             $0  $2,733,967,565.00
Biography      $653,621.00  $1,411,328.00    $906,171,055.00
Comedy         $582,024.00 $32,061,634.00  $7,774,193,438.00
Crime        $1,141,829.00 $12,744,851.00                 $0
Documentary             $0  $6,187,621.00    $175,109,754.00
Drama       $24,303,265.00 $44,639,842.00  $1,819,043,120.00
Family                  $0             $0    $445,361,439.00
Fantasy                 $0      $3,478.00    $106,100,000.00
Horror                  $0     $12,843.00     $21,884,663.00
Musical                 $0             $0                 $0
Mystery                 $0             $0                 $0
Romance                 $0    $205,701.00                 $0
Sci-Fi                  $0     $18,195.00     $79,568,000.00
Thriller                $0    $119,071.00                 $0
Western                 $0             $0                 $0

                                                                  \
Rating                   PG-13         Passed                  R
Genre
Action      $40,036,059,554.00             $0 $16,086,270,595.00
Adventure    $7,967,864,978.00 $22,202,612.00  $2,029,434,202.00
Animation       $16,855,175.00             $0     $63,418,514.00
Biography    $3,337,237,188.00  $8,000,000.00  $2,815,992,534.00
Comedy      $17,635,413,030.00             $0 $11,729,818,050.00
Crime        $1,588,280,368.00             $0  $6,350,762,062.00
Documentary     $40,369,512.00             $0    $144,421,497.00
Drama        $9,812,846,486.00             $0  $7,676,435,177.00
Family                      $0             $0                 $0
Fantasy        $696,992,331.00             $0    $574,631,031.00
Horror         $804,331,593.00             $0  $4,278,153,208.00
Musical        $181,360,000.00  $2,808,000.00                 $0
Mystery        $679,235,812.00             $0    $416,829,007.00
Romance         $62,453,315.00             $0                 $0
Sci-Fi          $37,402,542.00             $0     $91,585,988.00
Thriller                    $0             $0          $2,468.00
Western                     $0             $0     $41,643,768.00


Rating             Unrated              X
Genre
Action               $0.00 $44,793,200.00
Adventure               $0             $0
Animation               $0             $0
Biography      $866,313.00             $0
Comedy       $5,677,168.00 $17,025,872.00
Crime          $327,919.00             $0
Documentary  $1,443,875.00             $0
Drama       $56,935,865.00             $0
Family                  $0             $0
Fantasy                 $0 $22,168,359.00
Horror       $3,645,438.00 $11,768,641.00
Musical                 $0             $0
Mystery                 $0 $31,899,000.00
Romance                 $0             $0
Sci-Fi                  $0             $0
Thriller                $0             $0
Western                 $0             $0

In [144]:
df_p3=df_movie[['Genre','Rating','Gross Revenue']]

In [152]:
df_p3.pivot_table(df_p3, index=['Genre','Rating'],aggfunc=np.sum,margins=True,margins_name="Total")

                         Gross Revenue
Genre    Rating
Action   Approved      $244,967,035.00
         G              $96,090,224.00
         GP             $43,800,000.00
         M              $22,800,000.00
         Not Rated       $9,567,338.00
...                                ...
Thriller Not Rated         $119,071.00
         R                   $2,468.00
Western  Approved                $0.00
         R              $41,643,768.00
Total              $184,144,658,752.00

[89 rows x 1 columns]

In [168]:
df_p4=df_movie[['Genre','Rating','Gross Revenue']]

In [171]:
pd.options.display.float_format = '${:,.2f}'.format

In [199]:
df_p4.pivot_table(df_p4, index=['Genre'],aggfunc=np.sum).style.background_gradient(cmap='PRGn')

ValueError: Colormap Bu is not recognized. Possible values are: Accent, Accent_r, Blues, Blues_r, BrBG, BrBG_r, BuGn, BuGn_r, BuPu, BuPu_r, CMRmap, CMRmap_r, Dark2, Dark2_r, GnBu, GnBu_r, Greens, Greens_r, Greys, Greys_r, OrRd, OrRd_r, Oranges, Oranges_r, PRGn, PRGn_r, Paired, Paired_r, Pastel1, Pastel1_r, Pastel2, Pastel2_r, PiYG, PiYG_r, PuBu, PuBuGn, PuBuGn_r, PuBu_r, PuOr, PuOr_r, PuRd, PuRd_r, Purples, Purples_r, RdBu, RdBu_r, RdGy, RdGy_r, RdPu, RdPu_r, RdYlBu, RdYlBu_r, RdYlGn, RdYlGn_r, Reds, Reds_r, Set1, Set1_r, Set2, Set2_r, Set3, Set3_r, Spectral, Spectral_r, Wistia, Wistia_r, YlGn, YlGnBu, YlGnBu_r, YlGn_r, YlOrBr, YlOrBr_r, YlOrRd, YlOrRd_r, afmhot, afmhot_r, autumn, autumn_r, binary, binary_r, bone, bone_r, brg, brg_r, bwr, bwr_r, cividis, cividis_r, cool, cool_r, coolwarm, coolwarm_r, copper, copper_r, cubehelix, cubehelix_r, flag, flag_r, gist_earth, gist_earth_r, gist_gray, gist_gray_r, gist_heat, gist_heat_r, gist_ncar, gist_ncar_r, gist_rainbow, gist_rainbow_r, gist_stern, gist_stern_r, gist_yarg, gist_yarg_r, gnuplot, gnuplot2, gnuplot2_r, gnuplot_r, gray, gray_r, hot, hot_r, hsv, hsv_r, inferno, inferno_r, jet, jet_r, magma, magma_r, nipy_spectral, nipy_spectral_r, ocean, ocean_r, pink, pink_r, plasma, plasma_r, prism, prism_r, rainbow, rainbow_r, seismic, seismic_r, spring, spring_r, summer, summer_r, tab10, tab10_r, tab20, tab20_r, tab20b, tab20b_r, tab20c, tab20c_r, terrain, terrain_r, twilight, twilight_r, twilight_shifted, twilight_shifted_r, viridis, viridis_r, winter, winter_r

In [191]:
df_p5=df_movie[['Genre','Rating','Gross Revenue']]

In [198]:
df_p4.pivot_table(df_p4, index=['Genre'],aggfunc=np.sum).style.bar(subset=['Gross Revenue'],color='Blue')